<EditForm Model="@colour" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label>Name: </label>
        <div>
            <InputText @bind-Value="@colour.Name" class="form-control"></InputText>
            <ValidationMessage For="@(()=>colour.Name)"></ValidationMessage>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter]
    public Colour colour { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Save";
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
